.taskText{
  /* border: 1px solid red; */
  display: inline-block;
  width: 100px;
}
li{
  list-style-type: none;
}

.Checkbox{
  /* display: inline-block; */
  float: left;
  clear: right;
  cursor: pointer;
}
.done,.task{
  /* border: 1px solid red; */
  font-family: monospace;
  font-size: 18px;
  width: 270px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img{
  width: 15px;
  cursor: pointer;
}