.counter {
  /* TODO */
  display: inline-block;
  margin-right: 15px;
  border: 1px solid whitesmoke;

}
 /* font-size: 12px; */
 button{
  /* font-size: 12px; */
  padding: 0px 5px;
  background: rgba(46, 139, 87, 0.8);
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}
button:hover{
  background-color: seagreen;
}